.Rproj*
.Rapp*
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user
Meta
fishflux.Rproj

TODO.md
*tmp*
docs/
ignore/

# package development
fishflux.Rcheck/
fishflux*tar.gz
inst/doc
inst/web
src/fishflux.so
..Rcheck/
src/fishflux.dll

# cpp files
src/*.o
src/*.cc
src/*.h
docs

# vignette
vignettes/*_cache
